.weatherCard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
    height: 88px;
    margin: 8px;

    .weatherIcon {

        img {
            width: 128px;
            height: 128px;
        
        }

    }

    .main-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            margin: 4px;

        }
    }

    .min-max {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            margin: 4px;

        }
    }

    .conditions {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            margin: 4px;

        }
    }
}