* {
    background-color: #dedede;

}

.weatherCard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 128px;
    width: 80%;
    padding: 48px;
    margin-bottom: 48px;

    border-radius: 32px;
    background: #dedede;
    box-shadow: 10px 10px 19px #878787,
        -10px -10px 19px #ffffff;

    .weatherIcon {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 128px;
        height: 128px;

        img {

            margin: 24px;

            width: 128px;
            height: 128px;

            border-radius: 32px;
            background: #dedede;
            box-shadow: 10px 10px 19px #878787,
                -10px -10px 19px #ffffff;

        }

    }

    .secondary-info {
        display: flex;
        align-items: center;
        flex-direction: row;

        width: 264px;
        height: 128px;

        border-radius: 32px;
        background: #dedede;
        box-shadow: 10px 10px 19px #878787,
            -10px -10px 19px #ffffff;

        .min-max {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            margin: 24px;

            p {
                margin: 4px;
                background-color: transparent;

            }
        }

        .conditions {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            margin: 24px;

            p {
                margin: 4px;
                background-color: transparent;

            }
        }
    }

    .main-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        margin: 24px;

        width: 128px;
        height: 128px;

        border-radius: 32px;
        background: #dedede;
        box-shadow: 10px 10px 19px #878787,
            -10px -10px 19px #ffffff;

        h1 {
            margin: 2px;
            background-color: transparent;
            width: 128px;
        }

        h4 {
            margin: 4px;
            background-color: transparent;
            width: 128px;
        }
    }
}